## Cleaning data ðŸ¦‡

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('vehicles_messy.csv', low_memory=False)

In [3]:
data.head(5)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
null_cols = data.isnull().sum()

In [5]:
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [6]:
#dropping columns with nulls more than 10,000!
drop_cols = list(null_cols[null_cols > 10000].index)
data = data.drop(drop_cols, axis = 1)

In [7]:
null_cols = data.isnull().sum()
null_cols

barrels08     0
barrelsA08    0
charge120     0
charge240     0
city08        0
             ..
createdOn     0
modifiedOn    0
phevCity      0
phevHwy       0
phevComb      0
Length: 70, dtype: int64

In [8]:
print(null_cols.to_string())

barrels08             0
barrelsA08            0
charge120             0
charge240             0
city08                0
city08U               0
cityA08               0
cityA08U              0
cityCD                0
cityE                 0
cityUF                0
co2                   0
co2A                  0
co2TailpipeAGpm       0
co2TailpipeGpm        0
comb08                0
comb08U               0
combA08               0
combA08U              0
combE                 0
combinedCD            0
combinedUF            0
cylinders           123
displ               120
drive              1189
engId                 0
feScore               0
fuelCost08            0
fuelCostA08           0
fuelType              0
fuelType1             0
ghgScore              0
ghgScoreA             0
highway08             0
highway08U            0
highwayA08            0
highwayA08U           0
highwayCD             0
highwayE              0
highwayUF             0
hlv                   0
hpv                   0
id                    0
lv2                   0
lv4                   0
make                  0
model                 0
mpgData               0
phevBlended           0
pv2                   0
pv4                   0
range                 0
rangeCity             0
rangeCityA            0
rangeHwy              0
rangeHwyA             0
trany                11
UCity                 0
UCityA                0
UHighway              0
UHighwayA             0
VClass                0
year                  0
youSaveSpend          0
charge240b            0
createdOn             0
modifiedOn            0
phevCity              0
phevHwy               0
phevComb              0

In [9]:
data[['displ']]

       displ
0        2.0
1        4.9
2        2.2
3        5.2
4        2.2
...      ...
37838    2.2
37839    2.2
37840    2.2
37841    2.2
37842    2.2

[37843 rows x 1 columns]

In [10]:
null_displ = data[(data['displ'].isnull()==True)]
null_displ.head(5)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Midsize Station Wagons,2000,2750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0,0,0.0,0.0,46.0,...,0.0,Two Seaters,2001,1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0,0,0.0,0.0,75.0,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0

In [11]:
#because they are so many columns, I cannot see them listed above(but can see them
# in the part where I print the string :) we choose these cats below to inspect
#columns that might be informative as to the missing values for display
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]
null_displ

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
...,...,...,...,...,...,...,...,...
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN

In [12]:
data[['displ', 'cylinders']].fillna(0)

       displ  cylinders
0        2.0        4.0
1        4.9       12.0
2        2.2        4.0
3        5.2        8.0
4        2.2        4.0
...      ...        ...
37838    2.2        4.0
37839    2.2        4.0
37840    2.2        4.0
37841    2.2        4.0
37842    2.2        4.0

[37843 rows x 2 columns]

In [13]:
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

In [14]:
data[['displ', 'cylinders']]

       displ  cylinders
0        2.0        4.0
1        4.9       12.0
2        2.2        4.0
3        5.2        8.0
4        2.2        4.0
...      ...        ...
37838    2.2        4.0
37839    2.2        4.0
37840    2.2        4.0
37841    2.2        4.0
37842    2.2        4.0

[37843 rows x 2 columns]

In [15]:
null_cols = data.isnull().sum()

In [16]:
null_cols[null_cols>0]

drive    1189
trany      11
dtype: int64

In [17]:
null_drive = data[(data['drive'].isnull()== True)]
null_drive[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,0.0,0.0
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,0.0,0.0
8147,2001,Nissan,Hyper-Mini,NaN,NaN,Electricity,0.0,0.0
18217,1984,Alfa Romeo,Spider Veloce 2000,Manual 5-spd,NaN,Regular,4.0,2.0
18218,1984,Bertone,X1/9,Manual 5-spd,NaN,Regular,4.0,1.5
...,...,...,...,...,...,...,...,...
23029,1999,GMC,EV1,Automatic (A1),NaN,Electricity,0.0,0.0
23030,1999,GMC,EV1,Automatic (A1),NaN,Electricity,0.0,0.0
23032,1999,Honda,EV Plus,Automatic (A1),NaN,Electricity,0.0,0.0
23037,1998,Honda,EV Plus,Automatic (A1),NaN,Electricity,0.0,0.0
23040,2008,MINI,MiniE,Automatic (A1),NaN,Electricity,0.0,0.0

In [18]:
null_trany = data[(data['trany'].isnull()== True)]
null_trany[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,0.0,0.0
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,0.0,0.0
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,0.0,0.0
8147,2001,Nissan,Hyper-Mini,NaN,NaN,Electricity,0.0,0.0
9212,2002,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
9213,2002,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,0.0,0.0
10329,2003,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
19097,1984,Ford,F150 Pickup 2WD,NaN,2-Wheel Drive,Regular,8.0,5.8
19128,1984,GMC,C25 Pickup 2WD,NaN,2-Wheel Drive,Regular,6.0,4.1

In [21]:
#discrepancy! a value that does have a display but supposedly no cylinders
#in this case ask expert how many cylinders mazda would have
test = data[(data['cylinders']==0) & (data['displ']!=0)]
test[['year','make','model','trany','drive','fuelType','cylinders','displ']]

,year,make,model,trany,drive,fuelType,cylinders,displ
21506,1986,Mazda,RX-7,Manual 5-spd,Rear-Wheel Drive,Regular,0.0,1.3

In [22]:
#correcting the value
data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4

### Low Variance Columns

In [23]:
low_variance = []

for col in data._get_numeric_data():
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col],90)
    if ninety_perc == minimum:
        low_variance.append(col)

In [25]:
#not so informative columns 
print(low_variance)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

In [29]:
data['combinedUF'].head(30)

0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.0
19    0.0
20    0.0
21    0.0
22    0.0
23    0.0
24    0.0
25    0.0
26    0.0
27    0.0
28    0.0
29    0.0
Name: combinedUF, dtype: float64

In [31]:
data = data.drop(low_variance, axis=1)

In [32]:
data

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,21,0.0,4.0,2.0,Rear-Wheel Drive,...,0,0,Manual 5-spd,23.3333,35.0000,Two Seaters,1985,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,29.964545,9,0.0,-1,807.909091,11,0.0,12.0,4.9,Rear-Wheel Drive,...,0,0,Manual 5-spd,11.0000,19.0000,Two Seaters,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,12.207778,23,0.0,-1,329.148148,27,0.0,4.0,2.2,Front-Wheel Drive,...,0,0,Manual 5-spd,29.0000,47.0000,Subcompact Cars,1985,500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,5.2,Rear-Wheel Drive,...,0,0,Automatic 3-spd,12.2222,16.6667,Vans,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,17.347895,17,0.0,-1,467.736842,19,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,21.0000,32.0000,Compact Cars,1993,-4000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,19,0.0,-1,403.954545,22,0.0,4.0,2.2,Front-Wheel Drive,...,0,90,Automatic 4-spd,24.0000,37.0000,Compact Cars,1993,-750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37839,14.330870,20,0.0,-1,386.391304,23,0.0,4.0,2.2,Front-Wheel Drive,...,0,90,Manual 5-spd,25.0000,39.0000,Compact Cars,1993,-500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37840,15.695714,18,0.0,-1,423.190476,21,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Automatic 4-spd,23.0000,34.0000,Compact Cars,1993,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37841,15.695714,18,0.0,-1,423.190476,21,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,23.0000,34.0000,Compact Cars,1993,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37842,18.311667,16,0.0,-1,493.722222,18,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Automatic 4-spd,20.0000,29.0000,Compact Cars,1993,-4500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

In [34]:
stats = data.describe().transpose()

In [35]:
stats

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000

In [37]:
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

### getting those outliers!

In [42]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col, 'IQR']
    cutoff = iqr * 3
    lower = stats.at[col, '25%'] - cutoff
    upper = stats.at[col, '75%'] + cutoff
    results = data[(data[col] < lower) |
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [43]:
outliers

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,Outlier
1770,41.201250,7,0.0,-1,1110.875000,8,0.0,12.0,4.7,Rear-Wheel Drive,...,0,Manual 6-spd,8.8889,14.0000,Two Seaters,1995,-18500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
1979,41.201250,7,0.0,-1,1110.875000,8,0.0,8.0,5.3,Rear-Wheel Drive,...,87,Automatic 3-spd,9.0000,12.8205,Subcompact Cars,1985,-14000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
1990,41.201250,7,0.0,-1,1110.875000,8,0.0,8.0,5.3,Rear-Wheel Drive,...,79,Automatic 3-spd,9.0000,12.8205,Subcompact Cars,1985,-14000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
2002,41.201250,7,0.0,-1,1110.875000,8,0.0,8.0,5.3,Rear-Wheel Drive,...,79,Manual 5-spd,9.0000,13.0000,Subcompact Cars,1985,-14000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
7901,47.087143,6,0.0,-1,1269.571429,7,0.0,12.0,5.2,Rear-Wheel Drive,...,0,Manual 5-spd,7.0000,13.0000,Two Seaters,1986,-22250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,barrels08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31336,47.087143,6,0.0,-1,1269.571429,7,0.0,12.0,5.2,Rear-Wheel Drive,...,0,Manual 5-spd,7.0000,13.0000,Two Seaters,1988,-22250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,youSaveSpend
32586,47.087143,6,0.0,-1,1269.571429,7,0.0,12.0,5.2,Rear-Wheel Drive,...,0,Manual 5-spd,7.0000,13.0000,Two Seaters,1989,-22250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,youSaveSpend
33860,47.087143,6,0.0,-1,1269.571429,7,0.0,12.0,5.2,Rear-Wheel Drive,...,0,Manual 5-spd,7.0000,13.0000,Two Seaters,1990,-22250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,youSaveSpend
36282,41.201250,7,0.0,-1,1110.875000,8,0.0,8.0,6.0,Rear-Wheel Drive,...,0,Automatic 3-spd,8.0000,14.0000,Two Seaters,1992,-18500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,youSaveSpend
37475,41.201250,7,0.0,-1,1110.875000,8,0.0,8.0,6.0,Rear-Wheel Drive,...,0,Automatic 3-spd,8.0000,14.0000,Two Seaters,1993,-18500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,youSaveSpend

In [46]:
data.dtypes

barrels08         float64
city08              int64
city08U           float64
co2                 int64
co2TailpipeGpm    float64
comb08              int64
comb08U           float64
cylinders         float64
displ             float64
drive              object
engId               int64
feScore             int64
fuelCost08          int64
fuelType           object
fuelType1          object
ghgScore            int64
highway08           int64
highway08U        float64
hlv                 int64
hpv                 int64
id                  int64
lv2                 int64
lv4                 int64
make               object
model              object
mpgData            object
pv2                 int64
pv4                 int64
trany              object
UCity             float64
UHighway          float64
VClass             object
year                int64
youSaveSpend        int64
createdOn          object
modifiedOn         object
dtype: object

In [48]:
data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

In [49]:
data['year']

0        1985
1        1985
2        1985
3        1985
4        1993
         ...
37838    1993
37839    1993
37840    1993
37841    1993
37842    1993
Name: year, Length: 37843, dtype: object

In [50]:
print(set(data['trany']))

{nan, 'Automatic (A1)', 'Automatic 9-spd', 'Manual 7-spd', 'Automatic (S7)', 'Automatic (AV)', 'Auto(AM5)', 'Automatic (AM5)', 'Auto(AM-S9)', 'Manual 5-spd', 'Auto(AM-S7)', 'Automatic 6-spd', 'Manual(M7)', 'Automatic (S4)', 'Auto (AV-S6)', 'Manual 5 spd', 'Manual 4-spd Doubled', 'Automatic 4-spd', 'Automatic (S5)', 'Auto(A1)', 'Automatic (variable gear ratios)', 'Automatic 6spd', 'Automatic (AV-S6)', 'Auto(AM8)', 'Automatic (S9)', 'Manual 6-spd', 'Auto(L3)', 'Automatic (S6)', 'Manual 4-spd', 'Auto(AM6)', 'Auto(AV-S7)', 'Auto(AV-S6)', 'Auto (AV-S8)', 'Automatic 8-spd', 'Auto(AV-S8)', 'Auto(AM-S8)', 'Automatic 7-spd', 'Auto (AV)', 'Automatic (AM6)', 'Auto(L4)', 'Automatic (A6)', 'Auto(AM-S6)', 'Auto(AM7)', 'Automatic 3-spd', 'Manual 3-spd', 'Automatic (S8)', 'Automatic 5-spd'}

In [52]:
data['trany'] = data['trany'].str.replace('-', '')
print(set(data['trany']))

{nan, 'Automatic (A1)', 'Auto (AVS8)', 'Automatic (S7)', 'Automatic (AV)', 'Auto(AM5)', 'Automatic (AM5)', 'Auto (AVS6)', 'Automatic 9spd', 'Automatic (AVS6)', 'Manual(M7)', 'Automatic (S4)', 'Manual 3spd', 'Manual 4spd', 'Manual 5 spd', 'Automatic (S5)', 'Auto(A1)', 'Manual 6spd', 'Automatic (variable gear ratios)', 'Automatic 6spd', 'Automatic 4spd', 'Auto(AM8)', 'Automatic (S9)', 'Automatic 5spd', 'Auto(AVS8)', 'Auto(L3)', 'Auto(AMS8)', 'Automatic (S6)', 'Automatic 7spd', 'Auto(AM6)', 'Auto(AMS9)', 'Auto(AVS7)', 'Automatic 3spd', 'Auto (AV)', 'Automatic (AM6)', 'Auto(L4)', 'Auto(AVS6)', 'Automatic (A6)', 'Manual 4spd Doubled', 'Auto(AM7)', 'Manual 7spd', 'Auto(AMS7)', 'Manual 5spd', 'Auto(AMS6)', 'Automatic 8spd', 'Automatic (S8)'}

In [56]:
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')

In [64]:
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')

In [65]:
print(set(data['trany']))

{nan, 'AutoAM5', 'AutoAVS8', 'AutoAMS7', 'Auto 9spd', 'Auto S6', 'AutoAVS6', 'Auto 8spd', 'Auto AV', 'AutoL3', 'Auto 3spd', 'AutoAM7', 'Auto variable gear ratios', 'Manual 3spd', 'AutoAMS9', 'AutoA1', 'Manual 4spd', 'Manual 5 spd', 'Auto S8', 'Auto A1', 'Auto A6', 'Manual 6spd', 'AutoAMS8', 'Auto 7spd', 'Auto 4spd', 'Auto S5', 'AutoAVS7', 'Auto 5spd', 'Auto 6spd', 'AutoAMS6', 'Auto S7', 'Auto AVS8', 'Auto S4', 'Auto S9', 'Auto AM5', 'Auto AVS6', 'Manual 4spd Doubled', 'Manual 7spd', 'Manual 5spd', 'Manual M7', 'Auto AM6', 'AutoL4', 'AutoAM8', 'AutoAM6'}

In [66]:
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')

In [67]:
print(set(data['trany']))

{nan, 'AutoAM5', 'AutoAVS8', 'AutoAMS7', 'Auto 9spd', 'Auto S6', 'AutoAVS6', 'Auto 8spd', 'Auto AV', 'AutoL3', 'Auto 3spd', 'AutoAM7', 'Auto variable gear ratios', 'Manual 3spd', 'AutoAMS9', 'AutoA1', 'Manual 4spd', 'Manual 5 spd', 'Auto S8', 'Auto A1', 'Auto A6', 'Manual 6spd', 'AutoAMS8', 'Auto 7spd', 'Auto 4spd', 'Auto S5', 'AutoAVS7', 'Auto 5spd', 'Auto 6spd', 'AutoAMS6', 'Auto S7', 'Auto AVS8', 'Auto S4', 'Auto S9', 'Auto AM5', 'Auto AVS6', 'Manual 4spd Doubled', 'Manual 7spd', 'Manual 5spd', 'Manual M7', 'Auto AM6', 'AutoL4', 'AutoAM8', 'AutoAM6'}

In [68]:
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
print(set(data['trany']))

{nan, 'AutoAM5', 'AutoAVS8', 'AutoAMS7', 'Auto 9spd', 'Auto S6', 'AutoAVS6', 'Auto 8spd', 'Auto AV', 'AutoL3', 'Auto 3spd', 'AutoAM7', 'Auto variable gear ratios', 'Manual 3spd', 'AutoAMS9', 'AutoA1', 'Manual 4spd', 'Manual 5 spd', 'Auto S8', 'Auto A1', 'Auto A6', 'Manual 6spd', 'AutoAMS8', 'Auto 7spd', 'Auto 4spd', 'Auto S5', 'AutoAVS7', 'Auto 5spd', 'Auto 6spd', 'AutoAMS6', 'Auto S7', 'Auto AVS8', 'Auto S4', 'Auto S9', 'Auto AM5', 'Auto AVS6', 'Manual 4spd Doubled', 'Manual 7spd', 'Manual 5spd', 'Manual M7', 'Auto AM6', 'AutoL4', 'AutoAM8', 'AutoAM6'}

In [70]:
len(set(data['trany']))

44

In [72]:
before = len(data)
before

37843

In [73]:
data = data.drop_duplicates()

In [75]:
after = len(data)
after

37843

In [76]:
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [79]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 'trany', 'drive','VClass', 'fuelType', 'barrels08', 'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of dupes dropped: ', str(before - after))

Number of dupes dropped:  885