In [92]:
import requests
import xlrd
import os
import pandas as pd

In [110]:
url = 'https://www.kba.de/SharedDocs/Publikationen/DE/Statistik/Fahrzeuge/FZ/2020_monatlich/FZ10/fz10_2020_05_xlsx.xlsx'
req = requests.get(url)

In [113]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E67E-0B79

 Directory of C:\Users\Andy\data-ber-06-20\Labs\Project_APIs

17/06/2020  17:42    <DIR>          .
17/06/2020  17:42    <DIR>          ..
17/06/2020  16:02    <DIR>          .ipynb_checkpoints
17/06/2020  16:21    <DIR>          data
17/06/2020  17:42            16,035 Kraftfahrt_CVS_LOOP.ipynb
17/06/2020  16:00            33,129 Project_APIs_1st_attempt.ipynb
               2 File(s)         49,164 bytes
               4 Dir(s)   2,282,831,872 bytes free

In [114]:
read_file = pd.read_excel('./data/Kraftfahrt.xlsx', sheet_name="FZ10.1", skiprows=7)

In [117]:
read_file

,Unnamed: 0,Unnamed: 1,,Insgesamt,Unnamed: 4,Unnamed: 5,mit Dieselantrieb,Unnamed: 7,Unnamed: 8,mit Hybridantrieb,...,Unnamed: 11,mit Elektroantrieb,Unnamed: 13,Unnamed: 14,mit Allradantrieb,Unnamed: 16,Unnamed: 17,Cabriolets,Unnamed: 19,Unnamed: 20
0,NaN,Marke,Modellreihe,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,...,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %
1,NaN,ALFA ROMEO,ALFA GIULIETTA,34,221,21.1,6,36,17.6,-,...,-,-,-,-,-,-,-,-,-,-
2,NaN,NaN,GIULIA,60,348,33.3,6,34,16.6,-,...,-,-,-,-,16,132,22.8,-,-,-
3,NaN,NaN,STELVIO,84,476,45.6,23,135,65.9,-,...,-,-,-,-,84,446,77.2,-,-,-
4,NaN,ALFA ROMEO ZUSAMMEN,NaN,178,1045,0.1,35,205,0.1,-,...,-,-,-,-,100,578,0.3,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,NaN,Hinweis:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,"Die Anzahl zu IVECO EUROCARGO in der Spalte ""m...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,"Die Anzahl zu IVECO SONSTIGE in der Spalte ""mi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,NaN,"© Kraftfahrt-Bundesamt, Flensburg",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
read_file.head(10)

,Unnamed: 0,Unnamed: 1,,Insgesamt,Unnamed: 4,Unnamed: 5,mit Dieselantrieb,Unnamed: 7,Unnamed: 8,mit Hybridantrieb,...,Unnamed: 11,mit Elektroantrieb,Unnamed: 13,Unnamed: 14,mit Allradantrieb,Unnamed: 16,Unnamed: 17,Cabriolets,Unnamed: 19,Unnamed: 20
0,NaN,Marke,Modellreihe,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,...,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %,Mai 2020,Jan.-\nMai 2020,Anteil \nin %
1,NaN,ALFA ROMEO,ALFA GIULIETTA,34,221,21.1,6,36,17.6,-,...,-,-,-,-,-,-,-,-,-,-
2,NaN,NaN,GIULIA,60,348,33.3,6,34,16.6,-,...,-,-,-,-,16,132,22.8,-,-,-
3,NaN,NaN,STELVIO,84,476,45.6,23,135,65.9,-,...,-,-,-,-,84,446,77.2,-,-,-
4,NaN,ALFA ROMEO ZUSAMMEN,NaN,178,1045,0.1,35,205,0.1,-,...,-,-,-,-,100,578,0.3,-,-,-
5,NaN,ALPINE,A110,8,70,100,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,NaN,ALPINE ZUSAMMEN,NaN,8,70,0,-,-,-,-,...,NaN,-,-,-,-,-,-,-,-,-
7,NaN,ASTON MARTIN,DB11,15,73,82,-,-,-,-,...,-,-,-,-,-,-,-,10,26,100
8,NaN,NaN,SONSTIGE,2,16,18,-,-,-,-,...,-,-,-,-,-,1,100,-,-,-
9,NaN,ASTON MARTIN ZUSAMMEN,NaN,17,89,0,-,-,-,-,...,-,-,-,-,-,1,0,10,26,0.1

In [ ]:
"""
first construct a loop or command to download all of the excel files. 
In that loop in a loop do months and then years (2020) (2019)

"""

In [120]:
files = 'https://www.kba.de/SharedDocs/Publikationen/DE/Statistik/Fahrzeuge/FZ/2020_monatlich/FZ10/fz10_2020_05_xlsx.xlsx'

In [126]:
resp = requests.get(files)
resp.status_code

200

In [128]:
workbook = xlrd.open_workbook(file_contents = files.content)
worksheet = workbook.sheet_by_index(0)
first_row = worksheet.row(0)

AttributeError: 'str' object has no attribute 'content'