In [1]:
import pandas as pd 
import numpy as np
import matplotlib

In [2]:
data = pd.read_csv('Factbook_OECD.csv')

In [3]:
data.head(10)

,SUB,Subject,LOCATION,Country,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2011,2011,USD,US Dollar,0,Units,NaN,NaN,49.144818,NaN,NaN
1,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2012,2012,USD,US Dollar,0,Units,NaN,NaN,49.289611,NaN,NaN
2,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2013,2013,USD,US Dollar,0,Units,NaN,NaN,54.090499,NaN,NaN
3,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2014,2014,USD,US Dollar,0,Units,NaN,NaN,53.820427,NaN,NaN
4,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2015,2015,USD,US Dollar,0,Units,NaN,NaN,54.171924,NaN,NaN
5,AIRQTY_T1,CO? emissions from fuel combustion,AUS,Australia,2011,2011,TONNE,Tonnes,6,Millions,NaN,NaN,387.100000,NaN,NaN
6,AIRQTY_T1,CO? emissions from fuel combustion,AUS,Australia,2012,2012,TONNE,Tonnes,6,Millions,NaN,NaN,386.500000,NaN,NaN
7,AIRQTY_T1,CO? emissions from fuel combustion,AUS,Australia,2013,2013,TONNE,Tonnes,6,Millions,NaN,NaN,382.600000,NaN,NaN
8,AIRQTY_T1,CO? emissions from fuel combustion,AUS,Australia,2014,2014,TONNE,Tonnes,6,Millions,NaN,NaN,373.300000,NaN,NaN
9,AIRQTY_T1,CO? emissions from fuel combustion,AUS,Australia,2015,2015,TONNE,Tonnes,6,Millions,NaN,NaN,379.300000,NaN,NaN

In [4]:
cols_null = data.isnull().sum()

In [5]:
cols_null

SUB                          0
Subject                      0
LOCATION                     0
Country                      0
YEA                          0
Year                         0
Unit Code                    0
Unit                         0
PowerCode Code               0
PowerCode                    0
Reference Period Code    34189
Reference Period         34189
Value                        0
Flag Codes               34346
Flags                    34346
dtype: int64

In [6]:
drop_cols = list(cols_null[cols_null>30000].index)

In [7]:
drop_cols

['Reference Period Code', 'Reference Period', 'Flag Codes', 'Flags']

In [8]:
data = data.drop(drop_cols, axis=1)

In [9]:
data

,SUB,Subject,LOCATION,Country,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Value
0,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2011,2011,USD,US Dollar,0,Units,49.144818
1,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2012,2012,USD,US Dollar,0,Units,49.289611
2,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2013,2013,USD,US Dollar,0,Units,54.090499
3,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2014,2014,USD,US Dollar,0,Units,53.820427
4,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2015,2015,USD,US Dollar,0,Units,54.171924
...,...,...,...,...,...,...,...,...,...,...,...
35064,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2011,2011,PC,Percentage,0,Units,40.712289
35065,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2012,2012,PC,Percentage,0,Units,40.916591
35066,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2013,2013,PC,Percentage,0,Units,41.111906
35067,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2014,2014,PC,Percentage,0,Units,40.982305
35068,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2015,2015,PC,Percentage,0,Units,41.205057

In [16]:
data = data.drop('YEA', axis= 1)

In [17]:
data

,SUB,Subject,LOCATION,Country,Year,Unit Code,Unit,PowerCode Code,PowerCode,Value
0,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2011,USD,US Dollar,0,Units,49.144818
1,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2012,USD,US Dollar,0,Units,49.289611
2,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2013,USD,US Dollar,0,Units,54.090499
3,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2014,USD,US Dollar,0,Units,53.820427
4,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2015,USD,US Dollar,0,Units,54.171924
...,...,...,...,...,...,...,...,...,...,...
35064,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2011,PC,Percentage,0,Units,40.712289
35065,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2012,PC,Percentage,0,Units,40.916591
35066,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2013,PC,Percentage,0,Units,41.111906
35067,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2014,PC,Percentage,0,Units,40.982305
35068,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2015,PC,Percentage,0,Units,41.205057

In [23]:
data.rename(columns={'PowerCode Code': 'Power Code'}, inplace=True)

In [28]:
data.rename(columns={'LOCATION': 'Location', 'PowerCode': 'Power Code', 'SUB': 'Sub'}, inplace=True)

In [29]:
data

,Sub,Subject,Location,Country,Year,Unit Code,Unit,Power Code,Power Code,Value,Power Code
0,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2011,USD,US Dollar,0,Units,49.144818,0
1,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2012,USD,US Dollar,0,Units,49.289611,0
2,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2013,USD,US Dollar,0,Units,54.090499,0
3,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2014,USD,US Dollar,0,Units,53.820427,0
4,PRODINCOM_G1,GDP per hour worked,AUS,Australia,2015,USD,US Dollar,0,Units,54.171924,0
...,...,...,...,...,...,...,...,...,...,...,...
35064,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2011,PC,Percentage,0,Units,40.712289,0
35065,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2012,PC,Percentage,0,Units,40.916591,0
35066,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2013,PC,Percentage,0,Units,41.111906,0
35067,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2014,PC,Percentage,0,Units,40.982305,0
35068,TAXAPW_T1,Taxes on the average worker,LTU,Lithuania,2015,PC,Percentage,0,Units,41.205057,0

In [32]:
data.to_csv('Cleaner_Oecd.csv', index=False)

In [33]:
second_data = pd.read_csv('OECD_moredata.csv')

In [57]:
second_data.head(40)

,LOCATION,Country,VARIABLE,Variable,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2007,2007,PC,Percentage,0,Units,NaN,NaN,-6.745162e+00,NaN,NaN
1,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2008,2008,PC,Percentage,0,Units,NaN,NaN,-4.680755e+00,NaN,NaN
2,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2009,2009,PC,Percentage,0,Units,NaN,NaN,-4.744871e+00,NaN,NaN
3,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2010,2010,PC,Percentage,0,Units,NaN,NaN,-3.627691e+00,NaN,NaN
4,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2011,2011,PC,Percentage,0,Units,NaN,NaN,-3.054728e+00,NaN,NaN
5,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2012,2012,PC,Percentage,0,Units,NaN,NaN,-4.290260e+00,NaN,NaN
6,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2013,2013,PC,Percentage,0,Units,NaN,NaN,-3.378851e+00,NaN,NaN
7,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2014,2014,PC,Percentage,0,Units,NaN,NaN,-3.115191e+00,NaN,NaN
8,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2015,2015,PC,Percentage,0,Units,NaN,NaN,-4.653598e+00,NaN,NaN
9,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2016,2016,PC,Percentage,0,Units,NaN,NaN,-3.242719e+00,NaN,NaN
10,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2017,2017,PC,Percentage,0,Units,NaN,NaN,-2.567004e+00,NaN,NaN
11,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2018,2018,PC,Percentage,0,Units,NaN,NaN,-2.044895e+00,NaN,NaN
12,AUS,Australia,CBGDPR,Current account balance as a percentage of GDP,A,Annual,2019,2019,PC,Percentage,0,Units,NaN,NaN,5.613889e-01,NaN,NaN
13,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2007,2007,AUD,Australian Dollar,0,Units,NaN,NaN,1.195183e+00,NaN,NaN
14,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2008,2008,AUD,Australian Dollar,0,Units,NaN,NaN,1.197501e+00,NaN,NaN
15,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2009,2009,AUD,Australian Dollar,0,Units,NaN,NaN,1.282159e+00,NaN,NaN
16,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2010,2010,AUD,Australian Dollar,0,Units,NaN,NaN,1.090176e+00,NaN,NaN
17,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2011,2011,AUD,Australian Dollar,0,Units,NaN,NaN,9.691883e-01,NaN,NaN
18,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2012,2012,AUD,Australian Dollar,0,Units,NaN,NaN,9.659651e-01,NaN,NaN
19,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2013,2013,AUD,Australian Dollar,0,Units,NaN,NaN,1.036405e+00,NaN,NaN
20,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2014,2014,AUD,Australian Dollar,0,Units,NaN,NaN,1.109444e+00,NaN,NaN
21,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2015,2015,AUD,Australian Dollar,0,Units,NaN,NaN,1.330880e+00,NaN,NaN
22,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2016,2016,AUD,Australian Dollar,0,Units,NaN,NaN,1.345337e+00,NaN,NaN
23,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2017,2017,AUD,Australian Dollar,0,Units,NaN,NaN,1.304883e+00,NaN,NaN
24,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2018,2018,AUD,Australian Dollar,0,Units,NaN,NaN,1.338655e+00,NaN,NaN
25,AUS,Australia,EXCHUD,"Exchange rate, national currency per USD",A,Annual,2019,2019,AUD,Australian Dollar,0,Units,NaN,NaN,1.438669e+00,NaN,NaN
26,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2007,2007,USD,US Dollar,0,Units,2015,2015,2.012589e+11,NaN,NaN
27,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2008,2008,USD,US Dollar,0,Units,2015,2015,2.220775e+11,NaN,NaN
28,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2009,2009,USD,US Dollar,0,Units,2015,2015,2.042121e+11,NaN,NaN
29,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2010,2010,USD,US Dollar,0,Units,2015,2015,2.360388e+11,NaN,NaN
30,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2011,2011,USD,US Dollar,0,Units,2015,2015,2.610769e+11,NaN,NaN
31,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2012,2012,USD,US Dollar,0,Units,2015,2015,2.759455e+11,NaN,NaN
32,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2013,2013,USD,US Dollar,0,Units,2015,2015,2.703428e+11,NaN,NaN
33,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2014,2014,USD,US Dollar,0,Units,2015,2015,2.666635e+11,NaN,NaN
34,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2015,2015,USD,US Dollar,0,Units,2015,2015,2.712923e+11,NaN,NaN
35,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2016,2016,USD,US Dollar,0,Units,2015,2015,2.722058e+11,NaN,NaN
36,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2017,2017,USD,US Dollar,0,Units,2015,2015,2.935416e+11,NaN,NaN
37,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2018,2018,USD,US Dollar,0,Units,2015,2015,3.057485e+11,NaN,NaN
38,AUS,Australia,MGSVD,"Imports of goods and services, volume in USD (...",A,Annual,2019,2019,USD,US Dollar,0,Units,2015,2015,3.021664e+11,NaN,NaN
39,AUS,Australia,TGSVD,"Goods and services trade, volume in USD",A,Annual,2007,2007,USD,US Dollar,0,Units,2015,2015,1.860260e+11,NaN,NaN

In [42]:
second_data[['Time']].max()

Time    2019
dtype: int64

In [51]:
nullCols = second_data.isnull().sum()

In [52]:
nullCols

LOCATION                     0
Country                      0
VARIABLE                     0
Variable                     0
FREQUENCY                    0
Frequency                    0
TIME                         0
Time                         0
Unit Code                    0
Unit                         0
PowerCode Code               0
PowerCode                    0
Reference Period Code     6559
Reference Period          6559
Value                        0
Flag Codes               20352
Flags                    20352
dtype: int64

In [56]:
second_data['Flag Codes']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
20347   NaN
20348   NaN
20349   NaN
20350   NaN
20351   NaN
Name: Flag Codes, Length: 20352, dtype: float64

In [58]:
6559/35069

0.18703128118851406

In [59]:
20352/35069

0.5803416122501355

In [61]:
nullCols = list(nullCols[nullCols > 20000].index)

In [62]:
second_data = second_data.drop(nullCols, axis=1)

In [68]:
second_data = second_data.drop('LOCATION', axis=1)

In [75]:
second_data[['FREQUENCY']].head(100)

   FREQUENCY
0          A
1          A
2          A
3          A
4          A
..       ...
95         A
96         A
97         A
98         A
99         A

[100 rows x 1 columns]

In [77]:
second_data = second_data.drop('FREQUENCY', axis=1)

In [83]:
second_data = second_data.drop('VARIABLE', axis=1)

In [84]:
second_data.to_csv('OECD_vars_2007_2019.csv', index=False)

In [93]:
second_data.rename(columns={'TIME':'Year'}, inplace=True)

In [101]:
second_data = second_data.drop('PowerCode Code', axis=1)

In [103]:
second_data.to_csv('OECD_vars_2017_2019.csv', index=False)

In [106]:
third_data = pd.read_csv('OECD_vars_2007_2019.csv')

In [110]:
third_data.rename(columns={'TIME':'Year'}, inplace=True)

In [113]:
third_data=third_data.drop('PowerCode Code', axis=1)

In [118]:
third_data = third_data.drop('Frequency', axis=1)

In [119]:
third_data = third_data.drop('Unit Code', axis=1)

In [123]:
third_data = third_data.drop('Reference Period Code', axis=1)

In [128]:
third_data['Reference Period'].isnull().sum()

6559

In [133]:
len(third_data)

20352

In [134]:
6559/20352

0.32227790880503143

In [135]:
third_data

,Country,Variable,Year,Unit,PowerCode,Reference Period,Value
0,Australia,Current account balance as a percentage of GDP,2007,Percentage,Units,NaN,-6.745162e+00
1,Australia,Current account balance as a percentage of GDP,2008,Percentage,Units,NaN,-4.680755e+00
2,Australia,Current account balance as a percentage of GDP,2009,Percentage,Units,NaN,-4.744871e+00
3,Australia,Current account balance as a percentage of GDP,2010,Percentage,Units,NaN,-3.627691e+00
4,Australia,Current account balance as a percentage of GDP,2011,Percentage,Units,NaN,-3.054728e+00
...,...,...,...,...,...,...,...
20347,Colombia,"Gross domestic product, volume in USD, at cons...",2015,US Dollar,Units,2015,6.602876e+11
20348,Colombia,"Gross domestic product, volume in USD, at cons...",2016,US Dollar,Units,2015,6.740703e+11
20349,Colombia,"Gross domestic product, volume in USD, at cons...",2017,US Dollar,Units,2015,6.832334e+11
20350,Colombia,"Gross domestic product, volume in USD, at cons...",2018,US Dollar,Units,2015,7.004189e+11
20351,Colombia,"Gross domestic product, volume in USD, at cons...",2019,US Dollar,Units,2015,7.232541e+11

In [136]:
experiment = third_data.transpose()

In [137]:
experiment.head(10)

,0,1,2,3,4,5,6,7,8,9,...,20342,20343,20344,20345,20346,20347,20348,20349,20350,20351
Country,Australia,Australia,Australia,Australia,Australia,Australia,Australia,Australia,Australia,Australia,...,Colombia,Colombia,Colombia,Colombia,Colombia,Colombia,Colombia,Colombia,Colombia,Colombia
Variable,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,Current account balance as a percentage of GDP,...,"Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons...","Gross domestic product, volume in USD, at cons..."
Year,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Unit,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage,Percentage,...,US Dollar,US Dollar,US Dollar,US Dollar,US Dollar,US Dollar,US Dollar,US Dollar,US Dollar,US Dollar
PowerCode,Units,Units,Units,Units,Units,Units,Units,Units,Units,Units,...,Units,Units,Units,Units,Units,Units,Units,Units,Units,Units
Reference Period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
Value,-6.74516,-4.68075,-4.74487,-3.62769,-3.05473,-4.29026,-3.37885,-3.11519,-4.6536,-3.24272,...,5.25274e+11,5.61769e+11,5.83749e+11,6.13719e+11,6.41331e+11,6.60288e+11,6.7407e+11,6.83233e+11,7.00419e+11,7.23254e+11

In [139]:
third_data.to_csv('experiment_OECD_SQL.csv', index=False)